{% extends 'base.html' %}

{% block page_title %} | Policy Updates{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col">
		<h1>Policy Agreement</h1>
	</div>
</div>
<div class="spacer-medium"></div>
<div class="row">
	<div class="col">
		<div class="alert alert-danger">
			You must read and accept the APP NAME LEGAL <a href="{% url 'privacy_policy' %}">privacy policy</a> and <a href="{% url 'eula' %}">end user license agreement</a> to continue.
		</div>
	</div>
</div>
		

<form method="POST">
	<div class="row">
		<div class="col">
				{% csrf_token %}
				<table>
					{{form.as_table}}
				</table>
		</div>
		<div class="col">
			<input type="submit" value="continue" class="btn btn-primary form-control"/>
		</div>
	</div>
</form>
{% endblock %}